certifi==2022.12.7
chardet==3.0.4
Click==7.0
docker-py==1.10.6
docker-pycreds==0.3.0
Flask==1.0.2
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
requests==2.20.0
six==1.11.0
urllib3==1.24
websocket-client==0.53.0
Werkzeug==0.14.1
